@{
    ViewBag.Title = "Schimbarea parolei a fost confirmata";
    ViewBag.MetaDescription = "Schimbarea parolei de pe articole-calarie.ro a fost confirmata.";
}

@section MetaNoFollow {
    <meta name='robots' CONTENT='NOINDEX, NOFOLLOW'>
}

<div class="page-wrapper">
    <div class="pass-confirmation">
        <div class="logo">
            <img src="~/images/articole-calarie-logo.png" alt="articole calarie logo" id="appLogo">
        </div>
        <hgroup class="title">
            <h1>Schimbarea parolei a fost confirmata.</h1>
        </hgroup>
        <div>
            <p>
                Am trimis un link pentru resetarea parolei la email-ul introdus.
            </p>
        </div>
    </div>

    <div class="related-items">
        <h3 class="title supper-title"></h3>
        <br />
        <div id="passwordConf-related-products"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            getRelatedProducts('#passwordConf-related-products');
        });
    </script>
}
