@{
    ViewBag.Title = "Schimbarea parolei a fost confirmata";
}

<div class="page-wrapper">
    <div class="pass-confirmation">
        <div class="logo">
            <img src="~/images/my_logo3.png" alt="Articole Călărie logo" id="appLogo">
        </div>
        <hgroup class="title">
            <h1>Schimbarea parolei a fost confirmata</h1>
        </hgroup>
        <div>
            <p>
                Verifica-ti email-ul pentru a reseta parola
            </p>
        </div>
    </div>
    <div class="related-items">
        <h3 class="title supper-title">ALTE PRODUSE</h3>
        <div id="passwordConf-related-products"></div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            getRelatedProducts('#passwordConf-related-products');
        });
    </script>
}
