@{
    ViewBag.Title = "Parolă resetată cu success";
}
<div class="page-wrapper">
    <div class="pass-confirmation">
        <div class="logo">
            <img src="~/images/my_logo3.png" alt="Articole Călărie logo" id="appLogo">
        </div>
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p class="reset-pass-conf">
                @Html.ActionLink("Conectează-te", "Login", "Account", routeValues: null, htmlAttributes: null)
            </p>
        </div>
    </div>
    <div class="related-items">
        <h3 class="title supper-title">ALTE PRODUSE</h3>
        <div id="resetPasswordConf-related-products"></div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            getRelatedProducts('#resetPasswordConf-related-products');
        });
    </script>
}