@{
    ViewBag.Title = "Parola resetata cu succes";
    ViewBag.MetaDescription = "Schimbarea parolei de pe articolecalarie.ro a fost efectuata cu succes.";
}

@section MetaNoFollow {
    <meta name='robots' CONTENT='NOINDEX, NOFOLLOW'>
}

<div class="page-wrapper">
    <div class="pass-confirmation">
        <div class="logo">
            <img src="~/images/articole-calarie-logo.png" alt="articole calarie logo" id="appLogo">
        </div>
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p class="reset-pass-conf">
                @Html.ActionLink("Conecteaza-te", "login", "account", routeValues: null, htmlAttributes: null)
            </p>
        </div>
    </div>
    <div class="related-items">
        <h3 class="title supper-title"></h3>
        <br />
        <div id="resetPasswordConf-related-products"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            getRelatedProducts('#resetPasswordConf-related-products');
        });
    </script>
}