
/*Main color: #4c6689; */

.header .topbar,
.minicart .cart-block .count,
.category .shop-button:hover,
.category .shop-button:hover::before,
.leave-comment .submit,
.newsletter .submit,
.back-to-top:hover::before,
.featrue-box .block-icon,
.character-item .info .list-contact li a,
.contact-content .send,
.product-item .thumb .quickview-button:hover,
.product-item .thumb .group-flash .flash.new,
.widget_filter_price .filter,
.list-tags li a:hover,
.product-item.layout2 .info .add-to-cart:hover,
.inner-page .main-banner .banner-info .goto-shop,
.about-product .details-info .add-to-cart,
.add-review .submit,
.list-choosen li a .number,
.checkout-choosen-content .submit,
.cart-content .submit,
.main-slideshow .slide-content-1 .button,
.main-banner .banner.layout1 .banner-content .button:hover,
.main-banner .banner.layout3 .banner-content .button:hover,
.countdown-product .kt-countdown .box-count:hover,
.header.layout2 .mobile-navigation:hover .icon span,
.each-section .section-content .button,
.each-section .next-section:hover,
.close-menu:hover span,
.featrue-box.layout2 .block-icon:hover,
.product-item.layout3 .product-inner .thumb .price,
.footer.layout3 .list-tags li a:hover,
.nav-tab-style2 .nav>li>a::after,
.main-slideshow .slide-item .button,
.main-slideshow .slide-item .button.view:hover,
.search-form.layout3 .search-block .search-button,
.menu-item .top-flash.new,
.vertical-categories .title,
.main-slideshow .slide-content-5 .button,
.owl-carousel.nav-style4 .owl-nav .owl-prev:hover,
.owl-carousel.nav-style4 .owl-nav .owl-next:hover,
.nav-tab-style3 .nav>li.active>a::after,
.newsletter.layout3,
.footer.layout4 .list-tags li a:hover,
.footer.layout5 .widget-latest-news li .date,
.footer.layout5 .list-tags li a:hover,
.main-content-home6 .main-banner .banner-info .button,
.main-content-home7 .row-banner .banner-info .button:hover,
.post-item.layout4 .post-format .date,
.main-content-home8 .main-slideshow .owl-carousel .owl-dots .owl-dot.active,
.row-banner .banner-info .button,
.main-content-home8 .latest-news .owl-carousel .owl-dots .owl-dot.active,
.search-form.layout5,
.categories-menu > li:hover::before,
.main-content-home9 .owl-carousel.nav-style2 .owl-nav .owl-prev:hover::before,
.main-content-home9 .owl-carousel.nav-style2 .owl-nav .owl-next:hover::before,
.nav-tab-style3 .list-nav li.active a::after,
.main-content-home9 .right-timedown .kt-countdown .box-count:hover,
.header.layout10 .box-header-nav,
.special-banner .banner-item .banner-content .close-banner:hover,
.special-banner .banner-item .banner-content .banner-info .button ,
.footer.layout6.footer-home12,
.post-item .post-format .play-video:hover,.popup-newsletter .submit,
.product-item .info .add-to-cart:hover::after,
.search-form.layout3 .chosen-container .chosen-results li.highlighted,
.loadmore .loadmore-button:hover::after   {
	background-color: #324a76;
}
.category .shop-button:hover,
.category .shop-button:hover::before,
.leave-comment .submit:hover,
.back-to-top,
.list-tags li a:hover,
.main-slideshow .slide-item .button.view:hover,
.widget-latest-news li .date,
.block-cat .content-cat:hover figure,
.header.layout6 .main-menu > li:hover,
.header.layout6 .main-menu > li.current,
.vertical-categories,
.vertical-menu .menu-item-has-children .submenu,
.owl-carousel.nav-style4 .owl-nav .owl-prev:hover,
.owl-carousel.nav-style4 .owl-nav .owl-next:hover,
.footer.layout5 .list-tags li a:hover,
.main-content-home9 .right-timedown .kt-countdown .box-count:hover {
	border-color: #4c6689;
}
.menu-item .top-flash.new::after {
	border-top-color: #4c6689;
}
.top-links > li > a:hover,
.search-form .search-block .search-button:hover,
.kt-next-panel:hover,
.main-menu > li:hover > a,
.kt-panels-actions-wrap .kt-current-panel-title,
.breadcrumbs a:hover,
.post-item .meta-post li a:hover,
.list-socials li a:hover,
.post-item .info .meta-post-info li a:hover,
.comment-item .meta-comment-info li a:hover,
.comment-item .info .reply:hover,
.comment-item .info .reply:hover .icon,
.leave-comment .submit:hover,
.footer .coppy-right .content .site-name,
.back-to-top,
.post-item .post-name:hover,
.post-item .readmore,
.product-item .info .product-name:hover,
.product-item .info .add-to-cart:hover,
.searchresult-page .note-search .title .number,
.searchresult-page .note-search .search-content a,
.product-categories li a:hover,
.control .filter-more:hover,
.about-product .details-info .group-button li a:hover,
.checkout-choosen-content .note .forgot-pass:hover,
.shopping-cart-content td a:hover,
.loadmore .loadmore-button:hover,
.header.layout2 .search-form .search-block .search-button:hover,
.header.layout2 .top-links > li > a:hover, 
.header.layout2 .minicart .cart-block .cart-icon:hover, 
.header.layout2 .wishlist-icon:hover,
.header.layout2 .submenu li > a:hover,
.header .topbar-links li > a:hover,
.featrue-box.layout3 .block-icon a,
.list-recent-posts li .info .price .main,
.rating .list-star li a,
.main-slideshow .item3 .slide-content-4 .title span,
.block-cat.layout1 .content-cat  .title_cat:hover,
.header.layout6 .minicart .cart-block .cart-icon,
.header.layout6 .wishlist-icon,
.vertical-menu > li:hover > a,
.vertical-menu .menu-item-has-children:hover::after,
.featrue-box.layout4 .block-icon a,
.product-item.layout6 .group-button a:hover::before,
.footer.layout5 .list-socials li a:hover,
.footer.layout5 .widget.custom-menu ul li a:hover,
.main-content-home6 .main-banner .banner-info .title,
.main-content-home8 .row-banner .banner-info .subtitle,
.main-content-home9 .use-code .button:hover,
.footer.layout8 .list-socials li a:hover,
.footer.layout9 .list-socials li a:hover,
.item-portfolio .post-info .title:hover,
.about-theme .info .theme-name:hover,
.popup-newsletter .mfp-close:hover,
.list-recent-posts li .info .product-name:hover,
.header.layout5 .search-form .search-block .search-button:hover,
.menu-item-has-children:hover::after,
.header.layout8 .topbar-links > li:hover > a, .header.layout8 .menu-topbar>li:hover>a ,
.header.layout8 .topbar .menu-item-has-children:hover::after,
.popup-quickview .view-details:hover {
	color: #4c6689;
}
