@{
    ViewBag.Title = "Cum folosim cookies?";
    ViewBag.MetaDescription = string.Empty;
}

@section MetaNoFollow {
    <meta name='robots' CONTENT='NOINDEX, NOFOLLOW'>
}

<div class="page-wrapper">
    <p>
        Acest site utilizeaza cookie-uri pentru a analiza traficul, a oferi o experienta buna pentru utilizatori si pentru a personaliza continutul si anunturile.
        Toate cookie-urile pe care le folosim sunt necesare.
        Mai jos puteti gasi un tabel cu cookie-urile utilizate de <a href="www.articolecalarie.ro"> articolecalarie.ro </a> si modul de utilizare al acestora.
    </p>
    <br />
    <table class="cookie-table" style="width: 100%;">
        <tr>
            <th>Nume Cookie</th>
            <th>Utilizare</th>
        </tr>
        <tr>
            <td>_ga</td>
            <td>Se utilizeaza pentru a distinge utilizatorii, folosit de Google Analytics.</td>
        </tr>
        <tr>
            <td>_gid</td>
            <td>Se utilizeaza pentru a distinge utilizatorii, folosit de Google Analytics.</td>
        </tr>
        <tr>
            <td>_gat</td>
            <td>Se utilizeaza pentru rata solicitarii de acceleratie. Daca Google Analytics este implementat prin intermediul Managerului de etichete Google, acest modul cookie va fi numit _dc_gtm_property-id.</td>
        </tr>
        <tr>
            <td>_RPI</td>
            <td>Se utilizeaza pentru afisarea produselor asemanatoare cu cele vizualizate de dvs.</td>
        </tr>
        <tr>
            <td>_ACP</td>
            <td>Se utilizeaza pentru retinerea faptului ca ati acceptat cookie.</td>
        </tr>
        <tr>
            <td>.AspNet.Correlation.Facebook</td>
            <td>Se utilizeaza pentru facilitarea conectarii cu Facebook.</td>
        </tr>
        <tr>
            <td>.AspNet.ApplicationCookie</td>
            <td>Se utilizeaza pentru a mentine utilizatorii conectati.</td>
        </tr>
        <tr>
            <td>__RequestVerificationToken</td>
            <td>Se utilizeaza din motive de securitate.</td>
        </tr>
    </table>
    <br />
    <br />
</div>