@{
    ViewBag.Title = "Magazin echitație";
}

<div class="main-content home-page main-content-home1">
    <!--slideshow -->
    <div class="main-slideshow">
        <div class="owl-carousel dots-style1 nav-style2" data-autoplay="false" data-nav="true" data-dots="true" data-loop="true" data-slidespeed="800" data-margin="30" data-responsive='{"0":{"items":1}, "640":{"items":1}, "768":{"items":1}, "1024":{"items":1}, "1200":{"items":1}}' data-height="400">
            <div class="slide-item item-background" data-background="images/slide1.jpg">
                <div class="slide-img"><img src="images/s1.jpg" alt=""></div>
                <div class="slide-content-1">
                    <h3 class="title">Everything You Need To Start A New Online Store</h3>
                    <a href="#" class="button">Purchase Maxstore</a>
                </div>
            </div>
            <div class="slide-item item-background" data-background="images/slide2.jpg">
                <div class="slide-img"><img src="images/s2.jpg" alt=""></div>
                <div class="slide-content-1">
                    <h4 class="subtitle">Get a new look!</h4>
                    <h3 class="title">WOMen’s SUNGLASSES COLLECTION 2017</h3>
                    <a href="#" class="button">Shop Now</a>
                </div>
            </div>
            <div class="slide-item item-background" data-background="images/slide3.jpg">
                <div class="slide-img"><img src="images/s3.jpg" alt=""></div>
                <div class="slide-content-1">
                    <h4 class="subtitle">The Hipster style</h4>
                    <h3 class="title">Men’s Wear Summer LOOKBOOK</h3>
                    <a href="#" class="button">Shop the look</a>
                </div>
            </div>
        </div>
    </div>
    <!--/slideshow -->
    <div class="container">
        <!--banner -->
        <div class="row main-banner">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="banner layout1">
                    <img src="images/ss.jpg" alt="">
                    <div class="banner-content">
                        <h3 class="title">Floral Vintage Tshirt Campaign</h3>
                        <p class="des">Mauris nec porta sapien. Aliquamin est ultricies, fringilla libero vel mattis.</p>
                        <a href="#" class="button">SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-ss-12 col-xs-6 col-sm-6 col-md-3">
                <div class="banner layout2">
                    <img src="images/banner4.jpg" alt="">
                    <div class="banner-content">
                        <h3 class="title">TRANSPORT GRATUIT</h3>
                        <p class="des">Livrare gratuită la comenzile mai mari de 200 RON</p>
                    </div>
                </div>
            </div>
            <div class="col-ss-12 col-xs-6 col-sm-6 col-md-3">
                <div class="banner layout3">
                    <img src="images/22.jpg" alt="">
                    <div class="banner-content">
                        <h3 class="title">Premium Accessories items</h3>
                        <a href="#" class="button">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="related-items">
            <h3 class="title supper-title">REDUCERI</h3>
            <div id="sales-products-home">
            </div>
        </div> 

        <div class="related-items">
            <h3 class="title supper-title">CELE MAI NOI PRODUSE</h3>
            <div id="new-products-home">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="from-blogs">
        <h3 class="supper-title">BRANDS</h3>
    </div>

    <div class="logo-brand">
        <div class="owl-carousel brands-list" data-autoplay="false" data-nav="false" data-loop="true" data-slidespeed="800" data-margin="20" data-responsive='{"0":{"items":2}, "640":{"items":2}, "768":{"items":3}, "1024":{"items":4}, "1200":{"items":4}}'>
            <div class="brand-item">
                <a href="#"><img src="images/equiline.png" alt=""></a>
            </div>
            <div class="brand-item">
                <a href="#"><img src="images/freejump.jpg" alt=""></a>
            </div>
            <div class="brand-item">
                <a href="#"><img src="images/kingsland.jpeg" alt=""></a>
            </div>
            <div class="brand-item">
                <a href="#"><img src="images/animo.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/carousel")
    <script>
        $(() => {
            let newProductsUrl = window.location.origin + '/product/getthenewestproducts?isForHomePage=true'

            $.ajax({
                type: "GET",
                cache: false,
                url: newProductsUrl,
                success: function (result) {
                    $('#new-products-home').html(result);
                }
            });

            let productsOnSaleUrl = window.location.origin + '/produse/oferte?isForHomePage=true'

            $.ajax({
                type: "GET",
                cache: false,
                url: productsOnSaleUrl,
                success: function (result) {
                    $('#sales-products-home').html(result);
                }
            });
        });
    </script>
}
