@{
    ViewBag.Title = "Magazin echitație";
}

<div class="main-content home-page main-content-home1">
    <!--slideshow -->
    <div class="main-slideshow">
        <div class="owl-carousel dots-style1 nav-style2" data-autoplay="false" data-nav="true" data-dots="true" data-loop="true" data-slidespeed="800" data-margin="30" data-responsive='{"0":{"items":1}, "640":{"items":1}, "768":{"items":1}, "1024":{"items":1}, "1200":{"items":1}}' data-height="400">
            <div class="slide-item item-background" data-background="images/slide1.jpg">
                <div class="slide-img"><img src="images/s1.jpg" alt=""></div>
                <div class="slide-content-1">
                    <h3 class="title">Everything You Need To Start A New Online Store</h3>
                    <a href="#" class="button">Purchase Maxstore</a>
                </div>
            </div>
            <div class="slide-item item-background" data-background="images/slide2.jpg">
                <div class="slide-img"><img src="images/s2.jpg" alt=""></div>
                <div class="slide-content-1">
                    <h4 class="subtitle">Get a new look!</h4>
                    <h3 class="title">WOMen’s SUNGLASSES COLLECTION 2017</h3>
                    <a href="#" class="button">Shop Now</a>
                </div>
            </div>
            <div class="slide-item item-background" data-background="images/slide3.jpg">
                <div class="slide-img"><img src="images/s3.jpg" alt=""></div>
                <div class="slide-content-1">
                    <h4 class="subtitle">The Hipster style</h4>
                    <h3 class="title">Men’s Wear Summer LOOKBOOK</h3>
                    <a href="#" class="button">Shop the look</a>
                </div>
            </div>
        </div>
    </div>
    <!--/slideshow -->
    <div class="container">
        <!--banner -->
        <div class="row main-banner">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="banner layout1">
                    <img src="images/ss.jpg" alt="">
                    <div class="banner-content">
                        <h3 class="title">Floral Vintage Tshirt Campaign</h3>
                        <p class="des">Mauris nec porta sapien. Aliquamin est ultricies, fringilla libero vel mattis.</p>
                        <a href="#" class="button">SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-ss-12 col-xs-6 col-sm-6 col-md-3">
                <div class="banner layout2">
                    <img src="images/banner4.jpg" alt="">
                    <div class="banner-content">
                        <h3 class="title">TRANSPORT GRATUIT</h3>
                        <p class="des">Livrare gratuită la comenzile mai mari de 200 RON</p>
                    </div>
                </div>
            </div>
            <div class="col-ss-12 col-xs-6 col-sm-6 col-md-3">
                <div class="banner layout3">
                    <img src="images/22.jpg" alt="">
                    <div class="banner-content">
                        <h3 class="title">Premium Accessories items</h3>
                        <a href="#" class="button">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <!--/banner -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="custom-clear featured-products">
                    <h3 class="supper-title">Featured Products</h3>
                    <div class="row product-grid">
                        <div class="col-ss-12 col-xs-6 col-sm-4 col-md-4 col-lg-3 xs-clear">
                            <div class="product-item layout1">
                                <div class="product-inner">
                                    <div class="thumb">
                                        <div class="group-button">
                                            <a href="#" class="wishlist-button"></a>
                                            <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a>
                                        </div>
                                        <a href="#"><img src="images/27.jpg" alt=""></a>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="product-name">Classic T-Shirt in Blue</a>
                                        <a href="#" class="add-to-cart">+ ADD TO CART</a>
                                        <div class="price">
                                            <span class="ins">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-ss-12 col-xs-6 col-sm-4 col-md-4 col-lg-3">
                            <div class="product-item layout1">
                                <div class="product-inner">
                                    <div class="thumb">
                                        <div class="group-flash">
                                            <span class="flash sale">sale</span>
                                        </div>
                                        <div class="group-button">
                                            <a href="#" class="wishlist-button"></a>
                                            <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a>
                                        </div>
                                        <a href="#"><img src="images/28.jpg" alt=""></a>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="product-name">Classic T-Shirt in Blue</a>
                                        <a href="#" class="add-to-cart">+ ADD TO CART</a>
                                        <div class="price">
                                            <span class="del">$100.00 </span>
                                            <span class="ins">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-ss-12 col-xs-6 col-sm-4 col-md-4 col-lg-3 xs-clear">
                            <div class="product-item layout1">
                                <div class="product-inner">
                                    <div class="thumb">
                                        <div class="group-button">
                                            <a href="#" class="wishlist-button"></a>
                                            <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a>
                                        </div>
                                        <a href="#"><img src="images/29.jpg" alt=""></a>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="product-name">Classic T-Shirt in Blue</a>
                                        <a href="#" class="add-to-cart">+ ADD TO CART</a>
                                        <div class="price">
                                            <span class="ins">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-ss-12 col-xs-6 col-sm-4 col-md-4 col-lg-3 md-clear sm-clear">
                            <div class="product-item layout1">
                                <div class="product-inner">
                                    <div class="thumb">
                                        <div class="group-button">
                                            <a href="#" class="wishlist-button"></a>
                                            <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a>
                                        </div>
                                        <a href="#"><img src="images/30.jpg" alt=""></a>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="product-name">Classic T-Shirt in Blue</a>
                                        <a href="#" class="add-to-cart">+ ADD TO CART</a>
                                        <div class="price">
                                            <span class="ins">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-ss-12 col-xs-12 col-sm-8 col-md-8 col-lg-6 lg-clear xs-clear">
                            <div class="banner-product">
                                <a href="#"><img src="images/31.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="col-ss-12 col-xs-6 col-sm-4 col-md-4 col-lg-3 md-clear sm-clear xs-clear">
                            <div class="product-item layout1">
                                <div class="product-inner">
                                    <div class="thumb">
                                        <div class="group-button">
                                            <a href="#" class="wishlist-button"></a>
                                            <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a>
                                        </div>
                                        <a href="#"><img src="images/26.jpg" alt=""></a>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="product-name">Classic T-Shirt in Blue</a>
                                        <a href="#" class="add-to-cart">+ ADD TO CART</a>
                                        <div class="price">
                                            <span class="ins">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-ss-12 col-xs-6 col-sm-4 col-md-4 col-lg-3">
                            <div class="product-item layout1">
                                <div class="product-inner">
                                    <div class="thumb">
                                        <div class="group-flash">
                                            <span class="flash new">new</span>
                                        </div>
                                        <div class="group-button">
                                            <a href="#" class="wishlist-button"></a>
                                            <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a>
                                        </div>
                                        <a href="#"><img src="images/25.jpg" alt=""></a>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="product-name">Classic T-Shirt in Blue</a>
                                        <a href="#" class="add-to-cart">+ ADD TO CART</a>
                                        <div class="price">
                                            <span class="ins">$75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="loadmore">
                        <a href="#" class="loadmore-button">Load more items <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Products -->
    <div class="row-product-recent box-has-content">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 left-content">
            <div class="countdown-product">
                <h4 class="supper-title">Weekly Deal!</h4>
                <h3 class="title">HOT DEAL ITEM THIS WEEK LET COME & ENJOY</h3>
                <div class="kt-countdown" data-y="2017" data-m="8" data-w="2" data-d="30" data-h="20" data-i="60" data-s="60"> </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 right-content">
            <div class="group-product-recent">
                <div class="owl-carousel" data-autoplay="false" data-nav="false" data-dots="false" data-loop="true" data-slidespeed="800" data-margin="30" data-responsive='{"0":{"items":1}, "640":{"items":2}, "768":{"items":2}, "1024":{"items":3},  "1200":{"items":2}, "1368":{"items":3}}'>
                    <div class="product-item layout1">
                        <div class="product-inner">
                            <div class="thumb">
                                <div class="group-button">
                                    <a href="#" class="wishlist-button"></a>
                                    <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a>
                                </div>
                                <a href="#"><img src="images/q1.jpg" alt=""></a>
                            </div>
                            <div class="info">
                                <a href="#" class="product-name">Classic T-Shirt in Blue</a>
                                <a href="#" class="add-to-cart">+ ADD TO CART</a>
                                <div class="price">
                                    <span class="del">$100.00</span>
                                    <span class="ins">$75</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-item layout1">
                        <div class="product-inner">
                            <div class="thumb">
                                <div class="group-button">
                                    <a href="#" class="wishlist-button"></a>
                                    <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a>
                                </div>
                                <a href="#"><img src="images/5.jpg" alt=""></a>
                            </div>
                            <div class="info">
                                <a href="#" class="product-name">Classic T-Shirt in Blue</a>
                                <a href="#" class="add-to-cart">+ ADD TO CART</a>
                                <div class="price">
                                    <span class="del">$100.00</span>
                                    <span class="ins">$75</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-item layout1">
                        <div class="product-inner">
                            <div class="thumb">
                                <div class="group-button">
                                    <a href="#" class="wishlist-button"></a>
                                    <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a>
                                </div>
                                <a href="#"><img src="images/6.jpg" alt=""></a>
                            </div>
                            <div class="info">
                                <a href="#" class="product-name">Classic T-Shirt in Blue</a>
                                <a href="#" class="add-to-cart">+ ADD TO CART</a>
                                <div class="price">
                                    <span class="del">$100.00</span>
                                    <span class="ins">$75</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Products -->
    <div class="container">
        <!--Blog -->
        <div class="from-blogs">
            <h3 class="supper-title">BRANDS</h3>
        </div>
        <!--/Blog -->
        <!--Logo brand -->
        <div class="logo-brand">
            <div class="owl-carousel brands-list" data-autoplay="false" data-nav="false" data-loop="true" data-slidespeed="800" data-margin="20" data-responsive='{"0":{"items":2}, "640":{"items":2}, "768":{"items":3}, "1024":{"items":4}, "1200":{"items":4}}'>
                <div class="brand-item">
                    <a href="#"><img src="images/equiline.png" alt=""></a>
                </div>
                <div class="brand-item">
                    <a href="#"><img src="images/freejump.jpg" alt=""></a>
                </div>
                <div class="brand-item">
                    <a href="#"><img src="images/kingsland.jpeg" alt=""></a>
                </div>
                <div class="brand-item">
                    <a href="#"><img src="images/animo.jpg" alt=""></a>
                </div>

            </div>
        </div>
        <!--/Logo brand -->
    </div>
    <!--Newletter -->
    <!-- <div class="newsletter layout1 box-has-content">
        <div class="newsletter-inner">
            <h3 class="title"> SIGN UP NOW <span>Yahoo!!</span></h3>
            <p class="des">Get 25% off on your first purchase and get more news & promotions from us.</p>
            <div class="newsletter-block">
                <input type="text" class="input-info"><a href="#" class="submit button">Subscribe!</a>
            </div>
        </div>
    </div> -->
    <!--/Newletter -->
</div>
<!--/content -->