@{
    ViewBag.Title = "Magazin echitație";
    ViewBag.MetaDescription = "";
}

<div class="main-content home-page main-content-home1">
    <!--slideshow -->
    <div class="main-slideshow">
        <div class="owl-carousel dots-style1 nav-style2" data-autoplay="true" data-autoplayTimeout="1000" data-nav="true" data-dots="true" data-loop="true" data-slidespeed="800" data-margin="30" data-responsive='{"0":{"items":1}, "640":{"items":1}, "768":{"items":1}, "1024":{"items":1}, "1200":{"items":1}}' data-height="400">
            <div class="slide-item item-background">
                <div class="slide-img"><img src="images/s8.jpg" alt="echipament echitatie"></div>
                <div class="slide-content-1">
                    <h4 class="subtitle">Calareste in stil!</h4>
                    <h3 class="title">Echipament competitie pentru tine si calul tau</h3>
                    <a href="#" class="button">Vezi detalii</a>
                </div>
            </div>
            <div class="slide-item item-background">
                <div class="slide-img"><img src="images/s3.jpg" alt="jambiere cal"></div>
                <div class="slide-content-1">
                    <h4 class="subtitle">Protectie superioara!</h4>
                    <h3 class="title">Jambiere exclusiviste pentru calul tau</h3>
                    <a href="@Url.RouteUrl("product-list-url", new { categoryName = "cal", subcategoryId = 24, subcategoryName = "jambiere", page = 1})" class="button">Vezi detalii</a>
                </div>
            </div>
            <div class="slide-item item-background">
                <div class="slide-img"><img src="images/s4.jpg" alt="echipament echitatie"></div>
                <div class="slide-content-1">
                    <h4 class="subtitle">Fi invingator!</h4>
                    <h3 class="title">xxx</h3>
                    <a href="#" class="button">Vezi detalii</a>
                </div>
            </div>
        </div>
    </div>
    <!--/slideshow -->
    <div class="container">
        <!--banner -->
        <div class="row main-banner">
            <div class="col banner-1" style="background: #f1f2f4;">
                <div class="banner-content">
                    <h3 class="title">Floral Vintage Tshirt Campaign</h3>
                    <p class="des">Mauris nec porta sapien. Aliquamin est ultricies, fringilla libero vel mattis.</p>
                    <a href="#" class="button">SHOP NOW</a>
                </div>
                <div class="banner-image">
                    <img src="images/women.png" alt="">
                </div>
            </div>
            <div class="col banner-2">
                <div class="banner-content">
                    <h3 class="title">TRANSPORT GRATUIT</h3>
                    <p class="des">Livrare gratuita la comenzile mai mari de 200 RON</p>
                </div>
                <div class="banner-image">
                    <h3 class="title">Jambieri eShock</h3>
                    <img src="images/jambier.png" alt="">
                    <a href="@Url.RouteUrl("product-details-url", new { categoryName = "cal", subcategoryId = 24, subcategoryName = "jambiere", productCode = "hja-0117", productName = "jambiere-fata-eshock" })" class="button">CUMPARA ACUM</a>
                </div>
            </div>
        </div>

        <div class="related-items">
            <h3 class="title supper-title">REDUCERI</h3>
            <div id="sales-products-home">
            </div>
        </div> 

        <div class="related-items">
            <h3 class="title supper-title">CELE MAI NOI PRODUSE</h3>
            <div id="new-products-home">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="from-blogs">
        <h3 class="supper-title">BRANDS</h3>
    </div>

    <div class="logo-brand">
        <div class="owl-carousel brands-list" data-autoplay="false" data-nav="false" data-loop="true" data-slidespeed="800" data-margin="20" data-responsive='{"0":{"items":2}, "640":{"items":2}, "768":{"items":3}, "1024":{"items":4}, "1200":{"items":4}}'>
            <div class="brand-item">
                <a href="#"><img src="images/equiline.png" alt=""></a>
            </div>
            <div class="brand-item">
                <a href="#"><img src="images/freejump.jpg" alt=""></a>
            </div>
            <div class="brand-item">
                <a href="#"><img src="images/kingsland.jpeg" alt=""></a>
            </div>
            <div class="brand-item">
                <a href="#"><img src="images/animo.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/carousel")
    <script>
        $(() => {
            let newProductsUrl = window.location.origin + '/produse/noutati?isForHomePage=true'

            $.ajax({
                type: "GET",
                cache: false,
                url: newProductsUrl,
                success: function (result) {
                    $('#new-products-home').html(result);
                }
            });

            let productsOnSaleUrl = window.location.origin + '/produse/oferte?isForHomePage=true'

            $.ajax({
                type: "GET",
                cache: false,
                url: productsOnSaleUrl,
                success: function (result) {
                    $('#sales-products-home').html(result);
                }
            });
        });
    </script>
}
