@{
    ViewBag.Title = "Politica de confidentialitate";
    ViewBag.MetaDescription = string.Empty;
}

@section MetaNoFollow {
    <meta name='robots' CONTENT='NOINDEX, NOFOLLOW'>
}

<div class="page-wrapper">
    <article style="font-size: 16px; text-align: justify;">
        <b style="font-weight:700; font-size: 18px">POLITICA DE CONFIDENTIALITATE</b>

        <p>Data intrarii in vigoare: 10 iunie 2018</p>

        <p>Articole Calarie, SC LAURA & MARA SRL cu adresa: Lugoj, str. Cotul Mic, bl 2E, Ap. 6, avand cod fiscal RO 24565797, inregistrata la registrul comertului cu numarul J35/3562/2008, mentionata in document ca si ("noi", "ale noastre" sau "al nostru") opereaza site-ul https://articolecalarie.ro ("Serviciul").</p>
        <p>Aceasta pagina va informeaza despre politicile noastre privind colectarea, utilizarea și divulgarea datelor personale atunci cand utilizați Serviciul nostru si alegerile pe care le-ati asociat cu respectivele date.</p>
        <p>Noi folosim datele dvs. pentru a furniza si a imbunatati Serviciul. Prin utilizarea Serviciului, sunteti de acord cu colectarea si utilizarea informatiilor in conformitate cu aceasta politica. Cu exceptia cazului în care este definita altfel in aceasta politica de confidentialitate, termenii utilizati în aceasta politica de confidentialitate au aceleasi semnificatii ca în Termenii si conditiile noastre, accesibile de la https://articolecalarie.ro</p>

        <b style="font-weight:700; font-size: 18px; text-transform:uppercase;">Colectarea si utilizarea informatiilor</b>
        <p>Colectam cateva tipuri diferite de informatii in diverse scopuri pentru a va oferi si a imbunatati serviciul nostru.</p>

        <b style="font-weight:700; font-size: 18px; text-transform:uppercase;">Tipurile de date colectate</b>
        <br />
        <p style="text-transform: uppercase">Date personale</p>
        <p>In timp ce utilizati Serviciul nostru, va putem cere sa ne furnizati anumite informatii de identificare personala care pot fi folosite pentru a va contacta sau identifica ("Date personale"). Informatiile care pot fi identificate personal pot include, dar nu se limiteaza la:</p>
        <ul style="padding-left: 50px;">
            <li>Adresa de email</li>
            <li>Numele si prenumele</li>
            <li>Numar de telefon</li>
            <li>Addresa, Judet, Cod Postal, Oras</li>
            <li>Cookies si Datele de Utilizare</li>
        </ul>
        <br />
        <p style="text-transform:uppercase">Datele de Utilizare</p>
        <p>De asemenea, putem sa colectam informatii despre modul in care este accesat si folosit Serviciul ("Date de utilizare"). Aceste date de utilizare pot include informatii precum adresa IP a computerului dvs., tipul de browser, versiunea browserului, paginile serviciului nostru pe care le vizitati, ora si data vizitei dvs., timpul petrecut pe acele pagini, identificatori de dispozitive si alte date de diagnosticare.</p>

        <p style="text-transform: uppercase;">Date de Urmarire &amp; Date de tip Cookies</p>
        <p>Utilizam module cookie si tehnologii de urmarire similare pentru a urmari activitatea din Serviciul nostru si pentru a tine anumite informatii.</p>
        <p>Cookie-urile sunt fisiere cu cantitati mici de date care pot include un identificator unic anonim. Cookie-urile sunt trimise în browserul dvs. de pe un site Web si stocate pe dispozitiv. Tehnologiile de urmarire utilizate sunt de asemenea balize, etichete și scripturi pentru colectarea si urmarirea informatiilor si pentru imbunatatirea si analizarea Serviciului nostru.</p>
        <p>Puteti instrui browser-ul dvs. sa refuze toate cookie-urile sau sa indice cand un cookie este trimis. Cu toate acestea, daca nu acceptati cookie-uri, este posibil sa nu puteti utiliza anumite portiuni ale Serviciului nostru.</p>

        <p>Exemple de cookie-uri pe care le folosim:</p>
        <ul style="padding-left: 50px;">
            <li><strong>Cookies de Sesiune.</strong> Utilizam cookie-urile de sesiune pentru a opera Serviciul nostru si a analiza traficul (utilizat de terte parti).</li>
            <li><strong>Cookies de Securitate.</strong> Utilizam cookie-urile de securitate in scopuri de securitate.</li>
            <li><strong>Cookies de Preferinte.</strong> Utilizam cookie-urile de preferinte pentru a afisa difreite produse si pentru a ajuta utilizatorii sa gaseasca mai usor diferite produse de care sunt interesati.</li>
        </ul>
        <br />
        <b style="font-weight:700; font-size: 18px; text-transform:uppercase;">Utilizarea datelor</b>
        <br />
        <p style="text-transform: uppercase;">Cum colectăm datele</p>
        <p>
            Adresa dvs. de e-mail, numele și prenumele sunt colectate la etapa de înregistrare sau in etapa de finalizare a comenzii. Adresa, judetul, codul poștal, orasul, numarul de telefon sunt colectat in momentul finalizarii unei comenzi sau in momentul editarii profilului dvs.
            In ceea ce privește cookie-urile si datele de utilizare, nu colectam direct acest tip de informatii, acestea sunt colectate si distribuite de terțe parti ca Google Analytics, ajutandu-ne sa analizam traficul serviciului nostru.
        </p>

        <p style="text-transform: uppercase;">Cum folosim datele și de ce le colectam</p>
        <ul style="padding-left: 50px;">
            <li>Pentru furnizarea si intretinerea Serviciului</li>
            <li>Pentru a putea onora comenzile</li>
            <li>Pentru a va anunta despre modificarile aduse serviciului nostru</li>
            <li>Pentru a oferi asistenta clientilor</li>
            <li>Pentru a furniza analize sau informatii valoroase pentru a putea imbunatati Serviciul</li>
            <li>Pentru a monitoriza utilizarea serviciului</li>
            <li>Pentru a detecta, preveni si rezolva problemele tehnice</li>
        </ul>
        <br />
        <b style="font-weight:700; font-size: 18px; text-transform:uppercase;">Controlează-ți datele</b>
        <p>
            Informatiile dvs. sunt strict confidentiale si sunt pastrate in baza noastra de date. Vom partaja datele dvs. de contact doar cu firma de curierat asociata in momentul efecutarii unei comenzi pentru a putea onora comanda dvs.
        </p>
        <p>
            In orice moment, va puteti sterge contul si vom sterge toate datele de pe serverele noastre, insa nu avem control si nu suntem responsabili de datele dvs. ajunse la firma de curierat in momentul efectuarii unei comenzi.
            <br /> <span style="text-transform: uppercase;">(Conecteaza-te > Contul meu > Sterge cont)</span>
        </p>
        <p>
            In orice moment puteti alege daca doriti sa primiti mesaje de la noi sau nu.
            <br /> <span style="text-transform: uppercase;">(Conecteaza-te > Contul meu > Bifeaza/Debifeaza "Vreau sa primesc oferte promotionale prin email.")</span>
        </p>

        <b style="font-weight:700; font-size: 18px; text-transform:uppercase;">Transferul de date</b>
        <p>Informatiile dvs., inclusiv datele personale, pot fi transferate pe calculatoare aflate în afara orasului, judetului, tarii sau alte jurisdictii guvernamentale, in care legile privind protectia datelor pot fi diferite de cele din jurisdictia dvs.</p>
        <p>Acordul dvs. cu privire la această politica de confidentialitate, urmat de transmiterea acestor informatii, reprezinta acordul dvs. cu privire la respectivul transfer.</p>
        <p>Articole Calarie va partaja datele dvs. cu firma de curierat asociata in momentul plasarii unei comenzi pentru a putea onora comanda.</p>
        <p>Articole Calarie va lua toate masurile necesare in mod rezonabil pentru a va asigura ca datele dvs. sunt tratate in siguranta si in conformitate cu aceasta Politica de confidentialitate si ca nu va avea loc transferul datelor dvs. personale catre o organizație sau o tara decat daca exista controale adecvate.</p>

        <b style="font-weight:700; font-size: 18px; text-transform:uppercase;">Divulgarea datelor</b>
        <br />
        <p style="text-transform: uppercase;">Cerinte legale</p>
        <p>Articole Calarie poate dezvalui datele dvs. personale in convingerea ca aceasta actiune este necesara pentru:</p>
        <ul style="padding-left: 50px;">
            <li>Pentru a respecata o obligatie legala</li>
            <li>Pentru a proteja si apara drepturile sau proprietatea Articole Calarie</li>
            <li>Pentru a preveni sau a investiga posibilele nereguli in legatura cu Serviciul</li>
            <li>Pentru a proteja siguranta personala a utilizatorilor Serviciului sau a publicului</li>
            <li>Pentru a proteja impotriva raspunderii legale</li>
        </ul>
        <br />
        <b style="font-weight:700; font-size: 18px; text-transform:uppercase;">Securitatea datelor</b>
        <p>Siguranta datelor dvs. este importanta pentru noi, dar nu uitati ca nici o metoda de transmitere prin Internet sau o metoda de stocare electronica nu este 100% sigura. In timp ce ne straduim sa folosim mijloace acceptabile din punct de vedere comercial pentru a va proteja datele personale, nu putem garanta securitatea lor absoluta.</p>

        <b style="font-weight:700; font-size: 18px; text-transform:uppercase;">Prestatori de servicii</b>
        <p>Putem angaja companii și persoane terte sa faciliteze Serviciile noastre ("Furnizori de servicii"), sa furnizeze Serviciul în numele nostru, sa efectueze servicii legate de serviciile noastre sau sa ne asiste in analizarea utilizarii Serviciului nostru.</p>
        <p>Aceste terte parti au acces la datele dvs. personale numai pentru a îndeplini aceste sarcini în numele nostru și sunt obligate să nu le dezvaluie sau sa le utilizeze in niciun alt scop.</p>

        <b style="font-weight:700; font-size: 18px; text-transform:uppercase;">Legaturi către alte site-uri</b>
        <p>Serviciul nostru poate contine legaturi catre alte site-uri care nu sunt operate de noi. Daca dati clic pe un link de la o terta parte, veti fi direcționat/(a) catre site-ul tertei parti. Va sfatuim cu tarie sa examinati Politica de confidentialitate a fiecarui site pe care il vizitati.</p>
        <p>Nu avem control si nu ne asumam nicio responsabilitate pentru continutul, politicile de confidentialitate sau practicile site-urilor sau serviciilor tertilor.</p>

        <b style="font-weight:700; font-size: 18px; text-transform:uppercase;">Confidențialitatea copiilor</b>
        <p>Serviciul nostru nu se adreseaza nimanui sub varsta de 18 ani ("Copii").</p>
        <p>Nu colectam cu buna stiita informatii de identificare personala de la persoane care nu au implinit varsta de 18 ani. Dacă sunteti parinte sau tutore si sunteti constienti de faptul că copiii dvs. ne-au furnizat date personale, va rugam sa ne contactati. Daca stim ca am colectat date personale de la copii fara verificarea acordului parintilor, luam masuri pentru a elimina aceste informatii de pe serverele noastre.</p>

        <b style="font-weight:700; font-size: 18px; text-transform:uppercase;">Modificări aduse acestei politici de confidentialitate</b>
        <p>Putem actualiza Politica de confidentialitate din cand în cand. Va vom notifica despre orice modificare prin publicarea noii Politici de confidentialitate pe aceasta pagina.</p>
        <p>Va vom anunta prin e-mail si/sau o notificare proeminenta privind serviciul nostru, inainte de intrarea in vigoare a modificarii si actualizarea "datei efective" in partea de sus a acestei Politici de confidentialitate.</p>
        <p>Va recomandam sa revizuiti periodic aceasta politica de confidentialitate pentru orice modificare. Modificarile la aceasta politica de confidentialitate sunt efective atunci cand sunt afisate pe aceasta pagina.</p>

        <b style="font-weight:700; font-size: 18px; text-transform:uppercase;">Contactati-ne</b>
        <p>Daca aveti intrebari legate de aceasta politica de confidentialitate, vă rugam sa ne contactați:</p>
        <ul style="padding-left: 50px;">
            <li>Prin email: contact@articolecalarie.ro</li>
        </ul>
        <br />
        <br />
    </article>     
</div>