@{
    ViewBag.Title = "Listă produse";
}

<div class="page-wrapper">
    <div class="product-list-header">
        <h3 class="form-title">Listă produse</h3>

        <p class="product-list-add-btn">
            @Html.ActionLink("Adaugă produs", "Add", "Product", null, htmlAttributes: new { @class = "create btn my-btn-default" })
        </p>
    </div>

    <div id="products-list">
        @Html.Partial("_ProductListForAdmin");
    </div>

</div>