<div class="manage-account-info">
    <div class="my-account">
        <ul>
            <li class="@(ViewContext?.RouteData?.Values["Action"]?.ToString().ToLower() == "manage" ? "active" : "")"><a href="/account/manage"><i class="fa fa-user" aria-hidden="true"></i> Contul meu</a></li>
            <li class="@(ViewContext?.RouteData?.Values["Action"]?.ToString().ToLower() == "userorderlist" ? "active" : "")"><a href="/order/userorderlist"><span class="flaticon-cart"></span> Comenzile Mele</a></li>
            <li><a><i class="fa fa-sign-out" aria-hidden="true"></i> Deconecteaza-te</a></li>
        </ul>
    </div>
    <div class="user-info">
        <p class="name">Laura Ilin</p>
        <p class="email"><a href="email:@User.Identity.Name">@User.Identity.Name</a></p>
    </div>
</div>
