@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="page-wrapper container">
    <div class="pass-confirmation">
        <div class="logo">
            <img src="~/images/articole-calarie-logo.png" alt="articole calarie logo" id="appLogo">
        </div>
        <hgroup class="title text-danger">
            <h1>Oops. :(</h1>
        </hgroup>
        <div>
            <p class="text-danger">
                Din pacate a intervenit o eroare in timpul operatiunii dvs.
            </p>
        </div>
        <div>
            <p class="reset-pass-conf">
                <a href="/">PAGINA PRINCIPALA</a>
            </p>
        </div>
    </div>
    <div class="related-items">
        <h3 class="title supper-title"></h3>
        <br />
        <div id="error-page-related-products"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            getRelatedProducts('#error-page-related-products');
        });
    </script>
}

