@model int

@{
    ViewBag.Title = "Comanda #" + Model + " inregistrata cu succes";
    ViewBag.MetaDescription = string.Empty;
}

@section MetaNoFollow {
    <meta name='robots' CONTENT='NOINDEX, NOFOLLOW'>
}

<div class="page-wrapper">
    <div class="checkout-done">
        <div class="pass-confirmation">
            <div class="logo">
                <img src="~/images/articole-calarie-logo.png" alt="articole calarie logo" id="appLogo">
            </div>
            <h2 class="checkout-done-title"> Comanda: #@Model a fost inregistrata cu succes.</h2>
            <h3 style="margin-top: 5px;">Vei primi un email cand comanda va fi confirmata.</h3>

            @if (User.Identity.IsAuthenticated)
            {
                <p style="margin-top: -15px;">Poti urmari statusul comenzii tale in contul tau: <a href="@Url.Action("UserOrderList", "Order")" class="checkout-done-link">click aici</a></p>
            }

            <div>
                <p class="reset-pass-conf">
                    <a href="/">Continua cumparaturile</a>
                </p>
            </div>

            <div class="related-items">
                <h3 class="title supper-title"></h3>
                <br />
                <div id="checkoutDone-related-products"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            getRelatedProducts('#checkoutDone-related-products');
        });
    </script>
}
